.quiz-container {

    max-width: 800px;

    margin: auto;

    padding: 30px 20px;

}


.quiz-progress-container {

    width: 100%;

    height: 10px;

    background: #333;

    border-radius: 20px;

    overflow: hidden;

    margin-bottom: 30px;

}


.quiz-progress {

    height: 100%;

    background: #ffd700;

    transition: width 0.3s ease;

}


.question-box {

    background: #1b1b1b;

    border: 1px solid #333;

    border-radius: 12px;

    padding: 25px;

    font-size: 20px;

    margin-bottom: 20px;

}


.options-box {

    display: grid;

    gap: 12px;

}


.option {

    width: 100%;

    padding: 15px;

    background: #1b1b1b;

    color: white;

    border: 1px solid #555;

    border-radius: 8px;

    cursor: pointer;

    text-align: left;

}


.option:hover {

    border-color: #ffd700;

}


.option:disabled {

    cursor: not-allowed;

    opacity: 0.7;

}


.next-button {

    margin-top: 25px;

    padding: 12px 25px;

    background: #ffd700;

    color: #000;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    font-weight: bold;

}


.next-button:hover {

    opacity: 0.85;

}


.timer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #1b1b1b;

    border: 1px solid #333;

    border-radius: 10px;

    padding: 15px 20px;

    margin-bottom: 20px;
}


#quizTimer {
    font-size: 24px;
    font-weight: bold;
}


.timer-warning {
    color: red;
    animation: timerPulse 1s infinite;
}


@keyframes timerPulse {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }

}