*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{
    background:white;
    color:#111;
}


header{

    background:black;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 50px;

}


.logo{

    font-size:28px;
    font-weight:bold;

}


.logo span{

    color:#aaa;

}



nav a{

    color:white;
    text-decoration:none;
    margin:15px;

}



.hero{

    text-align:center;
    padding:80px 20px;

    background:#f2f2f2;

}


.hero h1{

    font-size:45px;

}



.hero button,
button{

    margin-top:20px;

    padding:12px 25px;

    background:black;

    color:white;

    border:none;

    cursor:pointer;

}



section{

    padding:50px 20px;

    text-align:center;

}



.cards{

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

}



.card{

    width:250px;

    padding:25px;

    background:#eee;

    border-radius:10px;

}



footer{

    background:black;

    color:white;

    text-align:center;

    padding:20px;

}



@media(max-width:700px){

header{

    flex-direction:column;

}


nav{

    margin-top:15px;

}


.hero h1{

font-size:30px;

}

}